<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../static/assets/img/faticon.png" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/static/css/chat.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>WORK SAFETY</title>
</head>

<body>
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="index.html"><img src="../static/assets/img/digisafe.png" alt="" style="height: 50px;"></a>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item"><a class="nav-link" href="#lesson">LESSON</a></li>
                        </ul>

                        <div class="nav-left text-center text-lg-left py-4 pl-4 py-lg-0">
                            <a class="button" href="index.html">HOME</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="hero-banner">
        <div class="container">

            <div class="row align-items-center text-center text-md-left">
                <div class="col-md-6 col-lg-5 mb-5 mb-md-0 text-center">
                    <!-- <h1>WORK SAFETY</h1> -->
                    <img src="../static/assets/img/SAFTEY-HEALTH.jpg" class="img-fluid">
                    <h2 class="text-center pt-4">Ayo Pelajari Tentang Kesehatan dan Keselamatan Kerja Disini</h2>
                    <a class="button button-hero mt-4" href="#lesson">GET STARTED</a>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
                    <img class="img-fluid" src="../static/assets/img/home.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="lesson">
        <div class="container py-4">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="../static/assets/img/gambar_materi_1.png" class="d-block w-100">
                    </div>
                    <div class="col-md-6 mx-auto">
                        <div class="card-block px-3">
                            <h2 class="mt-5 judul">Dasar-Dasar Kesehatan dan Keselamatan Kerja</h2>
                            <a class="button button-hero mt-4" href="lesson3.html">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-6 text-md-right">
                        <div class="card-block px-3">
                            <h2 class="mt-5 judul">Alat-Alat Pelindung Diri Untuk Kesehatan dan Keselamatan Kerja</h2>
                            <a class="button button-hero mt-4" href="lesson1.html">LEARN MORE</a>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <img src="../static/assets/img/gambar_materi_2.png" class="d-block w-100">

                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="../static/assets/img/gambar_materi_3.png" class="d-block w-100">
                    </div>
                    <div class="col-md-6 mx-auto">
                        <div class="card-block px-3">
                            <h2 class="mt-5 judul">Penerapan Kesehatan dan Keselamatan Kerja</h2>
                            <a class="button button-hero mt-4" href="lesson2.html">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="button button-hero mt-4" href="#">LEARN MORE LESSONS</a>
        </div>
    </section>
    <section id="footer">
        <div class="copyright">
            &copy; Team <strong>JUMATEC</strong> Kelompok 8
        </div>
    </section>
    
    
    
</body>
</html>
