<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="assets/img/faticon.png" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="48a8ba17-97aa-4a0c-97dc-28742f203559";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

    <title>WORK SAFETY</title>
</head>

<body>
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="index.html"><img src="assets/img/ic.jpg" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item active"><a class="nav-link" href="index.html">HOME</a></li>
                            <li class="nav-item"><a class="nav-link" href="#lesson">LESSON</a></li>
                            <li class="nav-item"><a class="nav-link" href="index.html#about">ABOUT</a>
                        </ul>
                        <div class="nav-right text-center text-lg-right py-4 py-lg-0">
                            <a class="button" href="shop.html">SHOP NOW !!</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="section-padding">
        <div class="container text-center">
            <h2 class="text-center py-4">Alat-Alat Pelindung Diri Untuk Kesehatan dan Keselamatan Kerja</h2>
            <img src="assets/img/illustration.png" class="img-fluid" usemap="#map">
            <map name="map">
<area shape="circle" coords="40,65,40,40" id="carbine" href="#carb" />
<area shape="circle" coords="40,195,40,40" id="binding" href="#bind" />
<area shape="circle" coords="40,325,40,40" id="backpack" href="#back" />
<area shape="circle" coords="40,455,40,40" id="oldingknife" href="#knife" />
<area shape="circle" coords="460,65,40,40" id="shoes" href="#shoe" />
<area shape="circle" coords="460,195,40,40" id="ropec" href="#rope" />
<area shape="circle" coords="460,325,40,40" id="helmc" href="#helm" />
<area shape="circle" coords="460,455,40,40" id="icebreaker" href="#ice" />
</map>
        </div>
        </div>
        </div>
    </section>

    <section id="lesson">
        <div class="container py-4">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-4 mx-auto">
                        <div class="card-header bg-transparent border-success" id="carb">
                            <h2>Carabiner</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Carabiner adalah alat yang digunakan untuk mengaitkan tali ke hanger, tali ke tali atau tali ke harness. Intinya, dalam pemanjatan carabiner sangat berperan untuk sistem keamanan pemanjat.</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="shoe">
                            <h2>Safety Shoes</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Safety Shoes adalah perlengkapan yang digunakan untuk melindungi kaki dari kejatuhan benda, benda-benda tajam seperti kaca ataupun potongan baja, larutan kimia dan aliran listrik. Sepatu Pelindung wajib digunakan oleh Teknisi
                                Mesin dan Petugas Gudang.</h5>

                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="lesson">
        <div class="container py-4">
            <div class="card">
                <div class="row align-items-center">

                    <div class="col-md-4 mx-auto">
                        <div class="card-header bg-transparent border-success" id="rope">
                            <h2>Rope</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Tali Tampar berfungsi sebagai media katrol, biasanya digunakan untuk mentransportasikan suatu benda berat dan besar. Selain itu juga berfungsi sebagai tali pengaman bagi pekerja.</h5>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="bind">
                            <h2>Binding</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Binding ini berfungsi untuk membatasi gerak pekerja agar tidak terjatuh atau terlepas dari posisi yang diinginkan. Beberapa pekerjaan mengharuskan pekerja untuk berada pada posisi yang cukup berbahaya seperti pada posisi miring,
                                tergantung atau memasuki rongga sempit.</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="lesson">
        <div class="container py-4">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-4 mx-auto">
                        <div class="card-header bg-transparent border-success" id="back">
                            <h2>Backpack</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Backpack atau Tas ransel ini berfungsi untuk menyimpan segala macam peralatan berat yang tidak dapat disimpan dalam kantong, sehingga keterjangkauan pekerja terhadap alat yang dibutuhkan tersedia.</h5>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="helm">
                            <h2>Helmet</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Safety Helmet ini berfungsi untuk melindungi kepala dari benturan, pukulan, atau kejatuhan benda tajam dan berat yang melayang atau meluncur di udara. Helm ini juga bisa melindungi kepala dari radiasi panas, api, percikan bahan
                                kimia ataupun suhu yang ekstrim.</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="lesson">
        <div class="container py-4">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="knife">
                            <h2>Folding Knife</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Folding Knife atau Pisau Lipat berfungsi sebagai alat potong bagi pekerja, selain mudah dan nyaman dibawa kemanapun, fungsinya juga fleksibel, tergantung dari kelengkapan fiturnya.</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="ice">
                            <h2>Ice Breaker</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Icebreaker, peralatan yang satu ini jarang sekali digunakan pada umumnya, berfungsi sebagai penghancur benda padat yang tidak terlalu keras.</h5>

                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="copyright">
            &copy; Team <strong>JUMATEC</strong> kelompok 8
        </div>
    </section>
</body>

</html>