<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="assets/img/faticon.png" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="48a8ba17-97aa-4a0c-97dc-28742f203559";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

    <title>WORK SAFETY</title>
</head>

<body>
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="index.html"><img src="assets/img/ic.jpg" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item active"><a class="nav-link" href="index.html">HOME</a></li>
                            <li class="nav-item"><a class="nav-link" href="#lesson">LESSON</a></li>
                            <li class="nav-item"><a class="nav-link" href="index.html#about">ABOUT</a>
                        </ul>
                        <div class="nav-right text-center text-lg-right py-4 py-lg-0">
                            <a class="button" href="shop.html">SHOP NOW !!</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="section-padding">
        <div class="container text-center">
            <h2 class="text-center py-4">Penerapan Kesehatan dan Keselamatan Kerja</h2>
            <img src="assets/img/penerapan.jpg" class="img-fluid">
        </div>
    </section>

    <section id="lesson">
        <div class="container py-4">
            <h2 class="text-center py-4">Pelaksanaan K3 Yang Baik Yang Semestinya Diterapkan Perusahaan</h2>
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="carb">
                            <h3>Memelihara sebagian perlengkapan kerja</h3>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Perusahaan harus senantiasa memelihara kondisi perlengkapan agar senantiasa dalam kondisi yang baik. Karena jika ada yang salah dalam sebagian perlengkapan kerja karyawan, dapat memberi dampak yang buruk pada karyawan itu.</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="shoe">
                            <h3>Melakukan pengontrolan dengan berkala</h3>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Hal semacam ini bermanfaat untuk mengetahui mana sebagian perlengkapan yang mengalami kerusakan agar dapat diperbaiki dan tidak memberi bahaya pada karyawannya.</h5>

                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="lesson">
        <div class="container py-4">
            <div class="card">
                <div class="row align-items-center">

                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="rope">
                            <h3>Mempekerjakan petugas kebersihan
                            </h3>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Kebersihan lingkungan perusahaan pasti akan melindungi kesehatan para karyawannya. Karena lingkungan yang kotor akan membawa penyakit.</h5>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="bind">
                            <h3>Sediakan sarana yang memadai</h3>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Fasilitas-fasilitas di sini seperti kantin, karena setiap karyawan pasti memerlukan makan saat jam istirahat mereka hingga mereka memerlukan kantin untuk tempat mereka beristirahat setelah bekerja.</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="lesson">
        <div class="container py-4">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-5 mx-auto">
                        <div class="card-header bg-transparent border-success" id="back">
                            <h3>Rencana program K3 yang terkoordinasi</h3>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Biasanya, hampir banyak dari perusahaan yang program K3 nya kurang terkoordinasi di semua bagian-bagian perusahaan hingga penerapan program K3 tidak terwujud dengan baik.</h5>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <div class="card-header bg-transparent border-success" id="helm">
                            <h3>Bertindak dan menilai proses keselamatan kerja</h3>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Jika ada yang mengalami kecelakaan, pasti perusahaan harus meninjak lanjuti tentang hal itu. Baik dari sisi tanggung jawab pada karyawan itu, juga mencari tahu apa penyebab kecelakaan itu terjadi agar tidak terulang pada karyawannya
                                yang lain.</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="copyright">
            &copy; Team <strong>JUMATEC</strong> kelompok 8
        </div>
    </section>
</body>

</html>