<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="assets/img/faticon.png" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="48a8ba17-97aa-4a0c-97dc-28742f203559";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

    <title>WORK SAFETY</title>
</head>

<body>
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="index.html"><img src="assets/img/digisafe.png" alt="" style="height: 50px;"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item"><a class="nav-link" href="#lesson">LESSON</a></li>
                        </ul>

                        <div class="nav-left text-center text-lg-left py-4 pl-4 py-lg-0">
                            <a class="button" href="index.html">HOME</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="section-padding">
        <div class="container text-center">
            <h2 class="text-center py-4">Dasar-Dasar Kesehatan dan Keselamatan Kerja</h2>
            <img src="assets/img/dasar.jpg" class="img-fluid">
        </div>
    </section>
    <section id="lesson">
        <div class="container py-4">
            <div class="card cardlesson">
                <div class="row align-items-center">
                    <div class="col-md-11 mx-auto">
                        <div class="card-header bg-transparent border-success" id="carb">
                            <h2>Definisi K3</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Keselamatan dan Kesehatan Kerja (K3) adalah suatu pemikiran dan upaya untuk menjamin keutuhan dan kesempurnaan jasmani maupun rohani tenaga kerja khususnya dan manusia pada umumnya serta hasil karya dan budaya menuju masyarakat
                                adil dan makmur.</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="lesson">
        <div class="container py-4">
            <div class="card cardlesson">
                <div class="row align-items-center">
                    <div class="col-md-11 mx-auto">
                        <div class="card-header bg-transparent border-success" id="rope">
                            <h2>Penerapan</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Penerapan K3 (Keselamatan dan Kesehatan Kerja) memiliki beberapa tujuan dalam pelaksanaannya berdasarkan Undang-Undang No 1 Tahun 1970 tentang Keselamatan Kerja. Di dalamnya terdapat 3 (tiga) tujuan utama dalam Penerapan K3
                                berdasarkan Undang-Undang No 1 Tahun 1970 tentang Keselamatan Kerja yaitu antara lain : 3 Tujuan Penerapan K3 (Keselamatan dan Kesehatan Kerja) Di Tempat Kerja
                                <ol>
                                    <li>Melindungi dan menjamin keselamatan setiap tenaga kerja dan orang lain di tempat kerja.</li>
                                    <li> Menjamin setiap sumber produksi dapat digunakan secara aman dan efisien.</li>
                                    <li> Meningkatkan kesejahteraan dan produktivitas Nasional.</li>
                                </ol>
                            </h5>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="lesson">
        <div class="container py-4">
            <div class="card cardlesson">
                <div class="row align-items-center">
                    <div class="col-md-11 mx-auto">
                        <div class="card-header bg-transparent border-success" id="back">
                            <h2>Penyakit Akibat Kerja (PAK)</h2>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title text-justify">Beberapa faktor penyebab penyakit akibat kerja (PAK) antara lain : Biologi (Bakteri, Virus Jamur, Binatang, Tanaman) ; Kimia (Bahan Beracun dan Berbahaya/Radioaktif), Fisik (Tekanan, Suhu, Kebisingan, Cahaya), Biomekanik (Postur,
                                Gerakan Berulang, Pengangkutan Manual), Psikologi (Stress, dsb). Upaya Pencegahan Penyakit Akibat Kerja
                                <ol>
                                    <li>Pemeriksaan Kesehatan Berkala.</li>
                                    <li>Pemeriksaan Kesehatan Khusus.</li>
                                    <li>Pelayanan Kesehatan.</li>
                                    <li>Penyedian Sarana dan Prasarana serta perbaikan tempat kerja yang lebih aman, sehat dan ergonomis</li>
                                </ol>
                            </h5>
                        </div>
                        <div class="card-footer bg-transparent border-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="copyright">
            &copy; Team <strong>JUMATEC</strong> kelompok 8
        </div>
    </section>
</body>

</html>